/*/////////////Tipos de botões////////////////*/
.button-default {
	background: #FF6A02;
	width: 16vw;
    height: 6vh;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #eee;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

.button-default:hover {
	background-color: #d2d2d2;
	color: rgb(255,106,14);
	border: 2.7px solid rgb(255,106,14);
}

/*//////////////////////////////////////////*/
.button-sidebar {
	background: #446BCE;
	width: 11vw;
    height: 7vh;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #eee;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

.button-sidebar:hover {
	background-color: #d2d2d2;
	color: rgb(68,107,206);
	border: 2.7px solid rgb(68,107,206);
}

/*//////////////////////////////////////////*/
.button-sidebar2 {
	background: #FF390E;
	width: 10vw;
    height: 7vh;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #eee;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

.button-sidebar2:hover {
	background-color: #d2d2d2;
	color: rgb(255,57,14);
	border: 2.7px solid rgb(255,57,14);
}
/*////////////////////////////////////*/
.button-pag{
	background-color: rgba(94,32,120,0.12);
	width: 16vw;
    height: 6vh;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

.button-pag-click{
	background-color: rgba(94,32,120,1);
	color: #eee;
	width: 16vw;
    height: 6vh;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

/*//////////////////////////////////////////*/
.button-sidebar3 {
	background: #5E2078;
	width: 10vw;
    height: 7vh;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #eee;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

.button-sidebar3:hover {
	background-color: #d2d2d2;
	color: rgba(94, 32, 120, 1);

	border: 2.7px solid rgba(94, 32, 120, 1);
}
