.ped-cont-prod-main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    width: 100vw;
    height: 100vh;

}

.ped-cont-nav-cab-div
{
    width: 100%;
    height: 27vh;
    flex-direction: column;
    
    
}

.cabecalho
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ped-aba-search-nav
{
    /*background-color: rgba(0,0,0,.3); /Teste*/
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 20vw;
    height: 5vh;
    margin: 3% 1% 1% 77%;
    padding: 1%;
    gap:5%;
}

#input-pedido
{
    width: 100%;
    height: 5vh;
    margin-top: 2.5%;
    background-color: #FFFFFF;
}

.img-ped
{
    width: 15%;
    height: 60%;
    margin-top: 7%;
    cursor: pointer;
}
    .qtd-ped { 
        width: 14%; height: 56%; margin-left: -14%; margin-top: 6.3%;
        text-align: center; color: #fff; cursor: pointer;
    }

.img-ped:hover{
    
    height: 61%;
}

/* Container de informacões do pedido */
.ped-name-store-entrega
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin:1%;

}


.aside-logo-store
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 10vh;

}


.container-info-pedido
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 30vw;
    height: 10vh;
    
    

}

.figure-info-op
{
    display: flex;
    flex-flow: row nowrap;

    width: 90%;
    height:90%;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
   
}
.img-pedido
{
    float: left;
    width: 3vw;
    height:5vh;
    
}

.legenda-pedido
{
    float:right;
    width: 65%;
    height:40%;  
    
}
/*Container da lista de produtos*/

.ped-cont-list-prod
{
    width:100%;
    height: 55vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    align-items: center;
    
}

/*Teste */
.produtos
{

    background-color: rgba(255,106,14,1);
    width:32vw;
    height:17vh;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items:center ;
    transition: all ease .7s;
    
    color: #fff;
}

.produtos:hover
{
    cursor: pointer;
    background-color: rgba(255,106,14,.6);
    width:31.9vw;
    height:16.9vh;
}

.cont-abs-add-pro-show /*DISPLAY ESCONDINDO 01*/
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;


    width:40vw;
    height:30vh;
    
    background-color: #d9d9d9;
    margin: 0 auto;
    padding: 1.6%;
    color: #000;
    font-weight: bold;
    font-family: 30px;
}

.cont-ped-add-prod-img
{
    width:40%;
    height:70%;
}

.cont-ped-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:56%;
    height:70%;
    /*background-color: rgba(0,0,0,.5); Teste*/
}



.cont-ped-desc, .cont-son-control-ped
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1%;
}

.cont-son-qtd-ped
{
    width: 5vw;
    height: 6vh;
    display: flex;

    justify-content: space-between;

    margin: 0 auto;
    background-color: #FFFFFF;
    align-items: center;
}

.cont-son-qtd-ped #less-qtd, #more-qtd
{
    background-color: #fff;
    font-size: 23px;
    color:  rgba(255,106,14,1);
    cursor: pointer;
}

#tot-qtd, #tot-qtd::placeholder
{
    width: 2vw;
    height: 5vh;
    text-align: center;
    background-color: #fff;
}

.cont-ped-desc
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 39%;
    width: 95%;
}

.cont-img-btn-fech
{
    width: 1.4vw;
    height: 3vh;
    background-color: #d9d9d9;
    cursor: pointer;
}

    .cont-abs-add-pro-hide
    {
        display: none;

    }

/*Lista Produtos*/
.container-picture
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin: 1%;
    width: 95%;
}

.container-img
{
    width: 9vw;
    height: 11vh;
}

.container-aside
{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    
}

.container-aside .price
{
    width: 33%;
    margin-right: 99%;
}

.container-descricao
{
    width: 95%;
    display: flex;
    margin: 1%;
    justify-content: space-between;
}

.sidebar.active  /*DISPLAY ESCONDINDO 02*/
{
    background-color: rgba(217,217,217,1);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 83.7vh;
    margin-left: 75%;
    margin-top: -3.3%;
    transition: 850ms;
    position: fixed;
    
    
}
    .sidebar  
    {
        transition: 350ms;
        display: none;
    }

.sidebar-item-row
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
    .sep-pag-ped, .sidebar-item-row {margin:1% 0 3% 0;}
    .nav-button{ width: 47%; }/* usado para deixar os botões menores*/

    .sidebar-menu
    {
        width:24vw ;
        height: 83.8%;
        top: 15%;
        margin: .3% 0 0 76%;

        
        background-color: rgba(94,32,117,.95);
    
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    
    }
    
        .coluna-menu
        {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding-top: 6%;
            width: 85%;
            height: 9.3%;
            justify-content: space-between;
            align-items: center;
            /*background-color: aliceblue;*/
            transition: 650ms;
        }
        .list-menu
        {
            width: 63%;
            height: 36%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            align-items: center;

            font-size: 1.5rem;
            font-weight: bold;
            background-color: rgba(94,32,117,.1);
            color: rgba(0,0,0,.7);
            
        }

        .icons-menu
        {
            width: 14%;
            height: 55%;
            
        }
    
            .esconder
            {
                display: none;
                transition: 450ms;
            }
    