.container-dados-func
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
   
}

.title-busca
{
    color: #000;
    gap: 8px;

    font-weight: 150px;
    font-size: 24px;  
    

}

.container-dados-busca
{
    display: flex;
    flex-flow: row wrap;
    width: 50vw;
    height: 55vh;
    align-items: center;
    justify-content:space-between ;
    margin: 0 auto;
    /*background-image: url('../../assets/logo/search_func.png');
    background-position: left;
    background-repeat: no-repeat;*/
    background-color:rgba(255, 255, 255, .3);
}
#dados-funcionario 
{
    width: 90%;
    background: #d9d9d9d9;
    
    border-radius: 8px;
    
}

#dados-funcionario::placeholder
{
    font-weight: 100;
    padding-left: 4%;
    color: #000000;
}

.buscar-func-dao
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-content: flex-start;
    background-color:rgba(23, 22, 22, 0.3);
   
}

.ul input[type="checkbox"]{
    height:3vh;
    background-color: #d9d9d9d9;
    border: none;
}

.btn-busca{
   margin: 0 auto;
}


