.container-autenticar {
   
    width: 100vw;
    height: 100vh;
    
   
    align-items: center;
    background-image: url("../../assets/logo/background-client.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    

}

.flex-autenticar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 17vh;
    margin: 0 auto;
    width: 40vw;
    max-width: 608px;
    height: 65vh;
    background: rgba(245,245,245,.9);
    
    
}

.flex-autenticar {
   width: 35vw;
   padding: 2%;
}
.email-login, .password-login, .entrar-login {
    width: 35vw;
    height: 7vh;
    border: none;
    padding: 2%;
    margin: 1.5%;
    background: #d9d9d9d9;
}

.entrar-login {
    /*background: rgb(255,106,14);*/
    background: #c5530c;
    order: 0;
    width: 20vw;
    border-radius: 9px;
    margin: 0 auto;

    color: #FFFFFF;
    font-size: 20pt;
    
}

#newpass
{
    color:#000000;
    text-decoration: none;
}

#newpass:hover
{
    color:#5E2075;
    text-decoration: underline;
}

    .esconderDspC { display: none;}
    .showAgain {display: flex; }