*{
    margin:0;
    padding: 0;
}

.container-codigo 
{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.codigo-main 
{
    width: 38vw;
    height: 70vh;
    justify-content: space-around;

    margin: 10vh auto;
    display: flex;
    flex-flow: row wrap;
    background: rgba(245,245,245,1);
    background-image: url("../../../assets/logo/recuperar-senha.png") ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    
    
}
.title-new-password
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 3;
    font-size: 3.1vw;
    gap: 12px;
    line-height: 350px;
    text-align: center;
    line-height: 124px;
    margin: 0 auto;
    color: #000000;
}
.codigo-main, input, button{
    border: none;
    margin: 0 auto; 
    text-decoration: none;
    
}



input {

    width: 30vw;
    height: 7vh;
    background :rgba(217,217,217,1);
   
}

.codigo-main p {
    flex-flow: row wrap;
    text-align: center;
    color: #000000;
    font-size: 40px;
    
}


.centraliza-button-link{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
    width: 20vw;
}

.rev-cod-psw-confr
{
    font-size: 1.2vw;
    color: #000;
    transition: all 0.7s ease;
}

.rev-cod-psw-confr:hover
{
    font-size: 1.3vw;
    color: rgb(255,106,14);
}

