.main-pagamentos {
    display: flex;
    flex-flow: column nowrap;
    background-color: #f5f5f5;

    width: 100vw;
    height: 100vh;
}

.div-forma-pag {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 2% 4% 0 0;
    width: 70%;
}

.div-forma-pag-child{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 25%;
    width: 70%;
}
    
.div-pag-app {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    padding: 4%;
    transition: all;
}
    .none { display: none; }

.endereco-entrega {text-align: center;}

.section-entrega { 
    display: flex;
    flex-flow: row wrap;
}

.section-endereco {

    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.div-pag-pix {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 50%;
    padding: 0.9%;
    margin-left: 2.3%;
    /*background-color: blueviolet;*/
}

.title-pag {
    display: flex;
    margin-left: 2%;
}