 *{
  margin: 0;
  padding: 0;
 }
  .container-endereco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    justify-items: center;
  
    width: 100vw;
    height: 100vh;
    
    
    background: #FFFFFF;
  }

  .container-dados-pessoais{
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    align-content: center;
    justify-content:space-around;
    
  }


  .container-form input{
    background: #d9d9d9d9;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 1%;
    height: 6vh;
    
    
  }

p{
  text-align: center;
   
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 54px;
  color: #000000;
  
}

.campo-endereco1 , .campo-endereco2{
  width: 60vw;
  flex-wrap: wrap;
  /*background: rgba(0, 0, 0, 0.5); teste*/ 
  justify-content: center;
  margin: 1%;
}

.logradouro{
    max-width: 55.7vw;
}

.bairro, .cidade, .cep{
    
    max-width: 29.7vw;
    flex-shrink: 1.2;
}

.numero{
   max-width: 23vw;
   flex-shrink: 1.2;
}

.complemento, .estado{
  flex-grow: 3;
  max-width: 23vw;
}


#finalizar .finalizar{
    width: 20vw;
    height: 7vh;
    top: auto;
    border:none;
    line-height: 10%;
    color:#FFFFFF;
    background: #FF6A0E;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
  
.title-finalizar {
  
  font-weight: 35vw;
  font-size: 1.5rem;
  line-height: 55%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#FFFFFF;


}

#finalizar{
   display: flex;
    justify-content:center;
    
  }