
  .container-endereco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    
    width: 100vw;
    height: 100vh;
    
    
    background: #FFFFFF;
  }

  .container-dados-pessoais{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .container-form{ 
    width: 50vw;
    margin: 0 auto;
    
    justify-content:center;
    align-items: center;
  
  }

  .container-form input {
    background: #d9d9d9d9;
    border: none;
    border-radius: 5px;
    padding: 2%;
    margin: 1.5%;
    flex-grow: 5;
    height: 5vh;
  }

.form-endereco{ 
    /*background: #FF6A0E; Teste*/
    width: 50vw;
    row-gap: 20px;
    
    align-items: center;
    margin-top:3%;
}

p{
  text-align: center;
   
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 54px;
  color: #000000;
  
}

.logradouro{
    width: 41vw;
}

.bairro{
    
    max-width: 35vw;
}

.numero{
    max-width: 19%;
    flex-grow: 2;
}

.complemento{
  flex-grow: 3;
  max-width: 11.5vw;
}


.cidade{
    
    max-width: 30vw;
}

.cep{
    max-width: 30vw;
}

.estado{
    max-width: 8vw;
}

#finalizar  input  {
    max-width: 10vw;
    height: 7vh;
    top: auto;
  
    font-size: 1em;
    line-height: 10%;
    color:#FFFFFF;
    background: #FF6A0E;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
    

#finalizar {
   display: flex;
    justify-content: flex-end;
    
  }