
.container-login {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    width: 100vw;
    height:100vh;
      
    background-image: url("../../assets/logo/background_login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    
    
}

.container-slogan {
    
    color:#FFFFFF;
    float: left;
   /* background: rgba(0,0,0,.2); Teste**/
    height: 13vh;
    align-items: center;
    padding: 3%;
}

.container-slogan  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

    margin: 26% 9% 0 auto;
}

.container-autenticacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   
   
    width: 35vw;
    height: 70vh;
    margin: 0 auto;
    
   

    text-align: center;
    background: rgba(217,217,217,.9);
    border-radius: 2px;
    
   
}
ul li, link {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    max-height: 13vh;
    
    margin: 4vh;
    padding: 3%;
    text-align: center;
    color:#FFFFFF;
    list-style: none;
    text-decoration: none;

    border-radius: 7px;   
    background: #c5530c;
    justify-items: center;
    justify-content: center;

}
li {
    margin: 0 auto;
    font-weight: 40%;
    font-size: 33px;
    line-height: 54px;
    text-align: center;

    color: #F5F5F5;

}

ul li:hover {
    background:rgba(255,106,14.4);
}

.slogan h1 {
    padding: 5%;
    margin: 2%;
    text-align: center;
    color:#FFFFFF;
    font-size: 56px;
    

}
