
.container-login {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-items: center;
    height:100vh;
    padding: 5%;
    margin-top: 0;
    
    background-image: url("../../assets/logo/background_login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    
}

.slogan {
    color:#FFFFFF;
    float: left;
   /* background: rgba(0,0,0,.2); Teste**/
    height: 15vh;
    align-items: center;
    padding: 3%;
}

.slogan  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

    margin: 26% 32% 0 auto;
}

.container-autenticacao {
    padding-top: 13%;
    width: 25vw;
    height: 70vh;
    margin: 0 auto;
    justify-items: center;
   /* padding: 5.9% .9% 0 .9% ;*/

    text-align: center;
    background: rgba(217,217,217,.9);
    border-radius: 2px;
    
   
}
ul li {
    max-width: 20vw;
    max-height: 13vh;
    align-content: center;
    margin: 4%;
    padding: 4%;
    text-align: center;
    color:#FFFFFF;
    list-style: none;

    border-radius: 7px;   
    background: #c5530c;
    

}
li {
    margin: 0 auto;
    font-weight: 400;
    font-size: 33px;
    line-height: 54px;
    text-align: center;

    color: #F5F5F5;

}

ul li:hover {
    background:rgba(255,106,14.4);
}

.slogan h1 {
    padding: 5%;
    margin: 2%;
    text-align: center;
    color:#FFFFFF;
    font-size: 56px;
    

}
