/*Lista Produtos*/
.container-picture
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    background-color: rgba(255,106,14,1);
    width:30.3vw;
    height:17vh;
}

/*Teste */
.produtos
{

    background-color: rgba(255,106,14,1);
    width:31vw;
    height:17vh;
    text-align: center;
    margin: 3% .1% -2.3% .1%;
    display: flex;
    flex-flow: column nowrap;
    align-items:center ;
    transition: all ease .7s;
    
    
    color: #fff;
}

.produtos:hover
{
    cursor: pointer;
    background-color: rgba(255,106,14,.6);
    width:31vw;
    height:16.9vh;
}

.container-aside
{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    
}

.container-aside .price
{
    width: 33%;
    margin-right: 97%;
}

.container-descricao
{
    width: 95%;
    display: flex;
    margin: 1%;
    justify-content: space-between;
}


.cont-abs-add-pro-show /*DISPLAY ESCONDINDO 01*/
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    width:40vw;
    height:30vh;
    
    background-color: #d9d9d9;
    margin: 0 auto;
    padding: 1.6%;
    color: #000;
    font-weight: bold;
    font-family: 30px;
    position: absolute;
}

.cont-ped-add-prod-img
{
    width:40%;
    height:70%;
    
}

.cont-ped-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:56%;
    height:70%;
    /*background-color: rgba(0,0,0,.5); Teste*/
}



.cont-ped-desc, .cont-son-control-ped
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1%;
}

.cont-son-qtd-ped
{
    width: 5vw;
    height: 6vh;
    display: flex;

    justify-content: space-between;

    margin: 0 auto;
    background-color: #FFFFFF;
    align-items: center;
}

.cont-son-qtd-ped #less-qtd, #more-qtd
{
    background-color: #fff;
    font-size: 23px;
    color:  rgba(255,106,14,1);
    cursor: pointer;
}

#tot-qtd, #tot-qtd::placeholder
{
    width: 2vw;
    height: 5vh;
    text-align: center;
    background-color: #fff;
}

.cont-ped-desc
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 39%;
    width: 95%;
}

.cont-img-btn-fech
{
    width: 1.4vw;
    height: 3vh;
    background-color: #d9d9d9;
    cursor: pointer;
}

    .cont-abs-add-pro-hide
    {
        display: none;

    }

