.container-recuperar-senha {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    background: rgba(255,255,255,1);
}


.header-recuperacao
{
    width: 100vw;
    height: 16vh;
    background: #5E2075;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 7vh;
}

.recuperar-senha {
    width: 40vw;
    height: 70vh;

    margin: 10vh auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;

    background: rgba(245,245,245,1);
    background-image: url("../../assets/logo/recuperar-senha.png") ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

input {

    width: 30vw;
    height: 7vh;
    background :rgba(217,217,217,1);
    padding-left: 3%;
   
}
