
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 17vh;
    margin: 0 auto;
    width: 40vw;
    max-width: 608px;
    height: 65vh;
    background: rgba(245,245,245,.9);
    
    
}
